/* General Styling*/

* {
  font-family: "Lato", sans-serif;
  box-sizing: border-box;
  margin: 0px;
}

h1,
h2,
h3 {
  font-family: "Kanit", sans-serif;
  font-size: 50px;
  text-align: center;
}

h2 {
  font-size: 40px;
}

h3 {
  font-size: 20px;
}

.nav-link {
  font-family: "Lato", sans-serif;
  font-weight: 600;
  margin-bottom: 50px;
  word-spacing: 3px;
  padding: 4px 8px;
  color: black;
}

::selection {
  background-color: white;
  color: white;
}

.job::after {
  content: "🥷";
}

body {
  background-color: #fffafa;
  max-width: auto;
}

/* Specific Stying*/

header {
  background-color: #5f9ea0;
  padding: 48px 16px;
  text-align: center;
  margin-bottom: 30px;
}

main {
  max-width: 800px;
  margin: 0px auto;
  text-align: center;
}

.nav-link:visited {
  color: darkblue;
}

.nav-link:hover {
  color: yellowgreen;
}

.nav-link:active {
  color: paleturquoise;
}

a {
  font-family: "Lato", sans-serif;
  font-weight: 600;
  font-size: 18px;
  font-variant: small-caps;
  letter-spacing: 3px;
}

main > article {
  text-align: center;
  padding: 10px;
  border: none;
  margin-bottom: 20px;
}

main > article:nth-child(2) {
  border-top: 2px solid #5f9ea0;
}

main > article:nth-child(4) {
  border-top: 2px solid #5f9ea0;
}

main > article:last-child {
  border-top: 2px solid #5f9ea0;
  margin-top: 30px;
  padding-top: 30px;
}

section + section {
  padding-top: 40px;
}

.timenplace {
  font-size: 16px;
  text-align: center;
  font-weight: 500;
  padding: 0px;
  border: 0px;
  margin-bottom: 20px;
}

.job {
  font-family: "Lato", sans-serif;
  font-size: 25px;
}

.sskill {
  display: inline-block;
  text-align: left;
}

.container1 {
  float: left;
  width: 50%;
  display: block;
  padding: 0, 0, 0, 20px;
}

.container2 {
  display: block;
}
