/* General Styling*/

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0px;
}

html {
  font-family: "Lato", sans-serif;
  font-size: 16px;
}

@media screen and (min-width: 768px) {
  html {
    font-size: 18px;
  }
}

@media screen and (min-width: 992px) {
  html {
    font-size: 20px;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Kanit", sans-serif;
}

.job::after {
  content: "🥷";
}

body {
  --background-color: white;
  --text-color: black;
  --accent-color: #5f9ea0;
  --accent-text-color: #1e3d3e;
  --nav-link-active-bg-color: paleturquoise;
  --nav-link-visited: #1e3d3e;
  --nav-link-hover: yellowgreen;
  --hireme-button: rgb(189, 244, 79);

  margin: 0;
  background-color: var(--background-color);
  color: var(--text-color);
}

@media screen and (prefers-color-scheme: dark) {
  body {
    --background-color: rgb(32, 32, 32);
    --text-color: rgb(207, 206, 206); 
}

::selection {
  background-color: var(--accent-color);
}

a,
a:link,
a:hover,
a:visited,
a:active {
  color: var(--text-color);
}

/* Specific Stying*/

.hero {
  background-image: linear-gradient(
    var(--accent-text-color),
    var(--accent-color),
    var(--background-color)
  );
  padding: 3.75rem 2.3rem;
  padding-top: 4rem;
  text-align: center;
  position: relative;
}

.hire-me {
  font-family: "Kanit", sans-serif;
  font-size: 1.2em;
  position: absolute;
  right: 1.5em;
  top: 1.5em;
  padding: 1em;
  border-radius: 1em;
  background-color: var(----hireme-button);
  color: var(--text-color);
}

@media screen and (min-width: 992px) {
  .hire-me {
    position: fixed;
  }
}

@media print {
  .hire-me {
    display: none;
  }

  .navigation {
    display: none;
  }
}

.navigation {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .navigation {
    flex-direction: row;
    justify-content: center;
  }
}

.nav-link {
  font-weight: 600;
  word-spacing: 0.5rem;
  padding: 1rem 0.5rem;
}

main {
  max-width: 65ch;
  padding: 1rem;
  padding-bottom: 5rem;
  margin: 0px auto;
  text-align: left;
}

.heading-bundle {
  font-size: 4rem;
}

.main-heading {
  font-size: 1em;
  margin-top: 3rem;
  margin-bottom: 0.5rem;
}

.article-heading {
  font-size: 2.5em;
  text-align: left;
  margin-top: 0.5rem;
  position: relative;
  left: -1rem;
}

.article-experiences {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

@media screen and (min-width: 768px) {
  .article-experiences {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
  }
}

.section-heading {
  font-size: 1.2em;
}

.nav-link:visited {
  color: var(--nav-link-visited);
}

.nav-link:hover {
  color: var(--nav-link-hover);
}

.nav-link:active {
  color: var(--nav-link-active-bg-color);
}

a {
  font-weight: 600;
  font-size: 1.2rem;
  font-variant: small-caps;
  letter-spacing: 0.25rem;
}

main > article {
  padding: 0 2rem;
  margin-top: 2rem;
}

main > article + article {
  padding: 1rem 2rem;
}

main > article:nth-child(2) {
  border-top: 0.13rem solid var(--accent-color);
}

main > article:nth-child(3) {
  border-top: 0.13rem solid var(--accent-color);
}

main > article:last-child {
  border-top: 0.13rem solid var(--accent-color);
}

section {
  padding-top: 1.25rem;
}

section + section {
  padding-top: 2rem;
}

.aboutme {
  padding-top: 1.25rem;
}

.timenplace {
  display: inline-block;
  font-size: 1em;
  font-weight: 500;
}

.job {
  font-size: 0.3em;
}

.sskill {
  display: inline-block;
}

.container1 {
  float: left;
  width: 45%;
  display: block;
}

.container2 {
  display: block;
}

footer {
  font-family: "Kanit", sans-serif;
  width: auto;
  height: 300px;
  background-image: linear-gradient(
    0deg,
    var(--accent-text-color),
    var(--accent-color),
    var(--background-color)
  );
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding: 3rem;
  padding-top: 5rem;
}

.footer-text {
  font-size: 1.5em;
}

.footer-contactme {
  font-size: 1.05em;
}

.footer-contactme:visited {
  color: var(--accent-text-color);
}

.footer-contactme:hover {
  color: var(--nav-link-hover);
}

.footer-contactme:active {
  color: var(--nav-link-active-bg-color);
}
